<template name="task_edit">
    <h3>Edit</h3>
    <form id="task_edit_form">
        <div class="form-group">
            <label for="taskName">Task Name</label>
            {{> inputAutocomplete settings=settings_task id="taskName" class="form-control" placeholder="Task name" value=this.name}}
        </div>
        <div class="form-group">
            <label for="subTaskName">Subtask Name</label>
            {{> inputAutocomplete settings=settings_subtask id="subTaskName" class="form-control" placeholder="Subtask name" value=this.subtask}}
        </div>
        <div class="form-group">
            <label for="projectCode">Project Code</label>
            {{> inputAutocomplete settings=settings_projectcode id="projectCode" class="form-control" placeholder="Project code" value=this.projectcode}}
        </div>
        <div class="form-group">
            <label for="startTime">Start</label>
            <input id="startTime" type="datetime-local" step="1" class="form-control" placeholder="Start time" value={{isoDates.start_time}}>
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class="form-group">
            <label for="endTime">End</label>
            <input id="endTime" type="datetime-local" step="1" class="form-control" placeholder="End time" value={{isoDates.end_time}}>
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <button type="submit" class="btn btn-default">Save changes</button>
        <button type="button" class="btn btn-danger pull-right" id="task_remove_button">Remove Task</button>
    </form>
</template>

<template name="data_not_found">
    Data no found
</template>