<template name="navBar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#time-card-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor route='home'}}">Time Card</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="time-card-navbar">
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

    <nav class="navbar navbar-inverse navbar-fixed-bottom footer">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="nav navbar-nav">
                {{# if currentUser}}
                    {{>start_new_task_widget}}
                    {{>current_task_widget}}
                {{/if}}
            </div>
        </div><!-- /.container -->
    </nav>
</template>
